@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
*:focus {  outline: none;}
input:hover { cursor: pointer; }

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
}

#root {
  background-color: #1659bf;
  color: #fff;
  height: 250px;
  width: 250px;
}


button {
  background-color: #0f4098;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 32px;
  width: 56px;
  margin: 0 5px;
  font-weight: 700;
}
button:hover {
  cursor: pointer;
  /* border: 1px #ffffff8a solid; */
}

body .main{
  height: 250px;
}

body .menu {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

body .cpf {
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .cpf div{
  margin-top: 5px
}
body .card {
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .card label{
  font-size: 12px
}
body .card button{
  width: 45px;
}

body .btn-selector button {
  height: 32px;
}

body .mask {
  font-size: 12px;
  display: flex;
  align-content: center;
  justify-content: center;
}

body .input-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

body .input-result input {
  border: none;
  text-align: center;
  caret-color:transparent;
  font-weight: 700;  
  height: 32px;
  border-radius: 5px;
  width: 90%;
}
body .copied {
  display: flex;
  justify-content: center
}
body .copied span{
  background-color: #33ff00b5;
  color: #000;
  border: none;
  width: 40%;
  border-radius: 5px;
  font-size: 10px;
  padding: 4px 2px
}
