@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

*:focus {
  outline: none;
}

input:hover {
  cursor: pointer;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#root {
  background-color: #1659bf;
  color: #fff;
  height: 275px;
  width: 250px;
}



button {
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}

body .main {
  height: 250px;
}

body .menu {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

body .menu button {
  width: 110px;
  height: 30px;
  font-size: 12px;
  background-color: #1659bf;
  border: #fff 1px solid;
}

body .menu button:hover {
  background-color: #fff;
  color: #1659bf;
}

body .slide-next {
  display: inline-flex;
}

body .cpf {
  height: 210px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  
  /* animation-delay: 2s; */
}
#cpf {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
#slide-cpf{
  animation: slide-right 0.2s linear forwards;
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

body .cpf div {
  margin-top: 5px;
}

body .cpf button {
  background-color: #0f4098;
  height: 32px;
  width: 56px;
  margin: 0 5px;
}

body .cpf button:hover {
  background-color: #fff;
  color: #0f4098;
}

#card {
  -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
}
#slide-card{
  animation: slide-left 0.2s linear forwards;
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }
}


body .card {
  height: 210px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

body .card div:first-child {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

body .card label {
  font-size: 12px;
  margin: 2px 0;
}

body .card button {
  width: 48px;
  height: 32px;
  background-color: transparent;
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  border: 1px solid #ffffff6b;
  background-color: #fff;
  opacity: 0.5;
}

body .card .selected {
  opacity: 1;
  border: none;
  -webkit-box-shadow: 0px 0px 6px 2px #000000;
  -moz-box-shadow: 0px 0px 6px 2px #000000;
  box-shadow: 0px 0px 6px 2px #000000;
}

body .card button:hover {
  color: #323639;
  opacity: 1;
}

.amex {
  background-image: url(../images/amex.svg);
}

.visa {
  background-image: url(../images/visa.svg);
}

.master {
  background-image: url(../images/master.svg);
}

.discover {
  background-image: url(../images/discover.svg);
}

body .btn-selector button {
  height: 32px;
}

body .mask {
  font-size: 12px;
  display: flex;
  align-content: center;
  justify-content: center;
}

body .input-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body .input-result input {
  border: none;
  text-align: center;
  caret-color: transparent;
  font-weight: 700;
  height: 28px;
  border-radius: 5px;
  width: 90%;
  background-image: url(../images/copy.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
  cursor: pointer;
}

body .copied {
  display: flex;
  justify-content: center;
}

body .copied span {
  background-color: #33ff00b5;
  color: #000;
  border: none;
  width: 40%;
  border-radius: 5px;
  font-size: 10px;
  padding: 4px 2px;
}


body .footer {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}
body .footer a {
  color: #fff
}