@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
*:focus {  outline: none;}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #1f2739;
  background-color: #1659bf;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 180px;
  width: 250px;
}
input:hover { cursor: pointer; }

button {
  background-color: #0f4098;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 32px;
  margin: 0 5px;
  font-weight: 700;
}
button:hover {
  cursor: pointer;
  border: 1px #ffffff8a solid;
}

.App div {
  margin: 10px 0 ;
}

body .btn-selector button {
  height: 32px;
  width: 56px;
}

body .mask {
  font-size: 12px;
  display: flex;
  align-content: center;
  justify-content: center;
}

body .input-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .input-result input {
  border: none;
  text-align: center;
  caret-color:transparent;
  font-weight: 700;  
  height: 32px;
  border-radius: 5px;
  width: 90%;
}
body .input-result span {
  background-color: #444a538a;
  color: #fff;
  border: none;
  width: 40%;
  border-radius: 5px;
  font-size: 10px;
  margin-top: 5px;
  padding: 4px 2px
}
